<section *ngIf="!mobile" style="position:fixed; z-index:2; width:100%; background-color:#00d1b2;">

    <div class="container">
        
        <h1 *ngIf="mobile" style="text-align:center; font-size:2rem;"> PISO DE MERCADO </h1>
        <h1 *ngIf="!mobile" style="text-align:center; padding-top:15px;"> PISO DE MERCADO </h1>
        <h2 *ngIf="mobile" style="text-align:center; font-size:1.2rem; color:green;"> El lugar de encuentro para operadores e inversores </h2>
        <h2 *ngIf="!mobile" style="text-align:center; color:green; padding-bottom:12px;"> El lugar de encuentro para operadores e inversores </h2>
        
        <div style="position:absolute; right:0; background-color:black;">
            <a href="#logUser"> Loguear </a> |
            <a href="#createUser"> Crear usuario </a> |
            <a href="#footer"> FAO y Contacto </a>
        </div>

    </div>

</section>

<div (window:scroll)="doSomethingOnWindowScroll($event)"></div>

<br/><br/><br/>

<section *ngIf="mobile&&showBottomNavbar" data-aos="fade-up"
 style="position:fixed; z-index:2; width:100%; height:auto; padding-top:5px; padding-bottom:5px; bottom:0; background-color: aqua;">
    <div class="container">
        <div class="row" style="display:flex; text-align:center;">
            <div class="col-4" style="align-items: center; justify-content: center; text-align: center; align-self: center;">
                <a href="#logUser"> Loguear </a>
            </div>
            <div class="col-4" style="align-items: center; justify-content: center; text-align: center; align-self: center;">
                <a href="#createUser"> Crear usuario </a>
            </div>
            <div class="col-4" style="align-items: center; justify-content: center; text-align: center; align-self: center;">
                <a href="#footer"> FAO y Contacto </a>
            </div>
        </div>
    </div>
</section>
