<div *ngIf="(user$ | async) && (user$ | async).showGroup && ((user$ | async).superAdmin || (user$ | async).groupAdmin)">


    <div *ngIf="!mobile"> <br/> <br/> <br/> <br/> <br/> <br/> </div>

    <div class="container">
        <div class="notification">

            <div class="box">
                <h1 class="title is-1"> Grupo: {{(user$ | async).showGroup}} </h1>
                <h2 class="subtitle is-5"> Usuario: {{(user$ | async).username}} </h2>
                <button class="btn btn-danger" (click)="closeGroup()"> Cerrar Grupo </button>
            </div>
                    

            <div class="box">
                
                <h2 class="title"> Canales del Grupo: </h2>

                <ul *ngIf="userChannels && userChannels.length">
                    <h4> Canales en los que estás: </h4>
                    <li *ngFor="let channel of userChannels">
                        Canal: {{channel}}
                        <button class="btn" style="background-color:#00d1b2; color:white;" (click)="viewChannel(channel)"> ENTRAR </button>
                        <!-- <button (click)="removeChannel(channel)"
                         *ngIf="(user$ | async).superAdmin || (user$ | async).groupAdmin">
                            Eliminar Canal
                        </button> -->
                    </li>
                </ul>

                <ul *ngIf="allChannels && allChannels.length && ((user$ | async).superAdmin || (user$ | async).groupAdmin)">
                    <h4> ADMIN: todos los canales </h4>
                    <li *ngFor="let channel of allChannels">
                        Canal: {{channel}}
                        <button (click)="removeChannel(channel)"> Eliminar Canal </button>
                    </li>
                </ul>

            </div>


            <div *ngIf="(user$ | async).groupAdmin || (user$ | async).superAdmin" class="container">
                <div class="notification">
                    <div class="field has-addons has-addons-centered">
                        <label class="label is-large"> Nuevo Canal: &nbsp; </label>
                        <div class="control">
                            <input class="input" type="text" placeholder="channel name" [(ngModel)]='createChannelName'
                                id='createChannelName' name='createChannelName'>
                        </div>
                        <div class="control">
                            <button class="button is-primary" (click)="createChannel()"> Crear Canal </button>
                        </div>
                    </div>
                </div>
            </div>
                

            <div class="box">

                <h2 class="title"> Usuarios en el grupo: </h2>

                <ul *ngIf="allUsers && allUsers.length">
                    <!-- && !(user$ | async).superAdmin && !(user$ | async).groupAdmin -->
                    <li *ngFor="let user of allUsers">
                        Usuario: {{user}}
                    </li>
                </ul>

                <div *ngIf="(user$ | async).groupAdmin">
                    <input class="" type="text" placeholder="username" [(ngModel)]='newUsername' id='newUsername' name='newUsername'>
                    <button (click)="addUserToGroup()"> Agregar usuario </button>
                </div>

                <ul *ngIf="allUsers && (user$ | async).groupAdmin">
                    <li *ngFor="let user of allUsers">
                        Usuario: {{user}} <button (click)="removeUser(user)"> Echar usuario </button>
                    </li>
                </ul>

            </div>

        </div>
        
    </div>

</div>
