<section id="channel" *ngIf="(user$ | async)?.currentChannel">

    <br />



    <!-- !MOBILE -->
    <div *ngIf="!mobile && ticketData" class="container notification noMobileCard">

        <div style="background-color:#00d1b2;">
            <h1 class="d-inline"> Canal: {{currentChannel}} | </h1>
            <h4 class="d-inline" *ngIf="ticketData.ask"> ${{ticketData.ask}} vs ${{ticketData.bid}} | </h4>
            <h4 class="d-inline"> {{ticketData?.my_last_update}} </h4>
            <button class="btn btn-danger" style="position:absolute; right:0; margin-right:5%; margin-top:5px;" (click)="closeChat()">
                Cerrar Canal
            </button>
        </div>

        <div *ngIf="messages" class="hero-body scroll-div">
            <div class="notification" style="background-color:#292b2c;">
                <div *ngFor="let message of messages.slice().reverse()">
                    <article class="message is-primary" style="margin:5px;">
                        
                        <div class="message-body"
                            *ngIf="message.username!=='SYSTEM' && message.isFile===true">
                            <img src="{{server}}/images/{{message.profileImage}}" width="20px" style="margin-right:10px;" alt="" />
                            {{message.timeArg}} - <span style="font-weight:bolder;"> {{message.username}}: </span>
                            <img src="{{server}}/images/{{message.message}}" alt="" />
                        </div>
                        
                        <div class="message-body"
                            *ngIf="message.username!=='SYSTEM' && message.isFile===false">
                            <img src="{{server}}/images/{{message.profileImage}}" width="20px" style="margin-right:10px;" alt="" />

                            {{message.timeArg}} hs - <span style="font-weight:bolder;"> {{message.username}}: </span> {{message.message}}
                        </div>

                        <!-- <div class="message-body" *ngIf="message.username==='SYSTEM'">
                            {{message.timeArg}} {{message.username}}: {{message.message}}
                        </div> -->

                        <div>
                            
                        </div>

                    </article>
                </div>
            </div>
        </div>

        

        <div class="hero-foot" style="display:block; margin-bottom:30px;">
            <!-- <div class="navbar is-fixed-bottom has-background-primary"> -->
            <div class="has-background-primary">
                <div class="navbar-brand" style="width:100%; margin:0;">
                    <div class="navbar-item" style="width:100%;">
                        <div class="col-md-7">
                            <input class="d-inline" style="width:80%;" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
                            &nbsp;
                            <button class="btn btn-dark d-inline" (click)="sendMessage()"> Mandar </button>
                        </div>
                        <div class="col-md-3">
                            <div class="d-inline" style="width:10px !important;">
                                <input type="file" class="custom-file-input" (change)="uploadSelected($event)" name="uploadFile" id="uploadFile" />
                                <label class="custom-file-label" for="uploadFile"> Elegir imagen </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="d-inline">
                                <button class="btn btn-dark" (click)="uploadImageToServer()" *ngIf="this.selectedFile"> Subir </button>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>



    <!--    MOBILE -->
    <div *ngIf="mobile && ticketData" class="container notification mobileCard">

        <div style="background-color:#00d1b2; padding: 10px 6px 0 12px;">
            <button *ngIf="mobile" class="btn btn-danger btn-sm" style="position:absolute; right:0;" (click)="closeChat()">
                Cerrar Canal
            </button>
            <h4> Canal: {{currentChannel}} </h4>
            <h6 class="d-inline" *ngIf="ticketData.ask"> ${{ticketData.ask}} vs ${{ticketData.bid}} | </h6>
            <h6 class="d-inline"> {{ticketData?.my_last_update}} </h6>
        </div>

        <div *ngIf="messages" class="hero-body scroll-div-mobile" style="padding-top:12px;">
            <div class="notification" style="background-color:#292b2c; padding:0;">
                <div *ngFor="let message of messages.slice().reverse()">
                    <article class="message is-primary" style="margin:5px;">
                        
                        <div class="message-body" style="padding:10px; font-size:0.8rem;" *ngIf="message.username!=='SYSTEM' && message.isFile===true">
                            <img src="{{server}}/images/{{message.profileImage}}" width="30px" style="margin-right:10px;" alt="" />
                            {{message.timeArg}} - <span style="font-weight:bolder;"> {{message.username}}: </span>
                            <br />
                            <br />
                            <img src="{{server}}/images/{{message.message}}" alt="" />
                        </div>
                    
                        <div class="message-body" style="padding:10px; font-size:0.8rem;" *ngIf="message.username!=='SYSTEM' && message.isFile===false">
                            <img src="{{server}}/images/{{message.profileImage}}" width="30px" style="margin-right:10px;" alt="" />
                            {{message.timeArg}} hs
                            <br />
                            <span style="font-weight:bolder; margin-top:18px;"> {{message.username}}: </span> {{message.message}}
                        </div>
                
                    </article>
                </div>
            </div>
        </div>
    </div>


    <div (window:scroll)="doSomethingOnWindowScroll($event)"></div>

    <div style="position:fixed; left:0; bottom:0; background-color:#00d1b2; display:block; width:96%; height:60px; z-index:5; margin-bottom:80px;" id="chatNavbarMobile1">
        <input style="width:94%; display:block; margin:auto; margin-top:5px;" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
    </div>

    <div style="position:fixed; left:0; bottom:0; background-color:#00d1b2; display:block; width:96%; height:100px; z-index:5; padding-top:10px;" id="chatNavbarMobile2">
        <div class="container">
            <div class="row">
                <div class="col" style="margin-left:5px; width:90%;">
                    <input type="file" class="custom-file-input" (change)="uploadSelected($event)" name="uploadFile" id="uploadFile" />
                    <label class="custom-file-label" for="uploadFile"> Imagen </label>
                </div>
                <div class="col">
                    <button class="btn btn-dark btn-sm d-inline mt-1" (click)="uploadImageToServer()" *ngIf="this.selectedFile"> Subir </button>
                    <button class="btn btn-sm d-inline mt-1" style="background-color:#00d1b2; color:white;" *ngIf="!this.selectedFile"> Subir </button>
                    &nbsp;
                    <button class="btn btn-dark btn-sm d-inline mt-1" (click)="sendMessage()"> Mandar </button>
                </div>
            </div>
        </div>
    </div>





    <br />


    <!-- !mobile -->

    <!-- <div *ngIf="!mobile" class="container notification noMobileCard">
        <div class="box">
            <h2 class="title is-3"> Usuarios en el Canal: </h2>
            <ul>
                <li *ngFor="let user of listOfUsers">
                    User: {{user}}
                    <button (click)="removeUser(user)" *ngIf="(user$ | async).superAdmin || (user$ | async).groupAdmin">
                        Echar usuario
                    </button>
                </li>
            </ul>
        </div>

        <div class="box" *ngIf="(user$ | async).superAdmin || (user$ | async).groupAdmin">
            <div>
                <input class="" type="text" placeholder="username" [(ngModel)]='newUsername' id='newUsername' name='newUsername'>
                <button (click)="addUserToChannel()"> Agregar usuario </button>
            </div>
        </div>
    </div> -->



    <!--   mobile -->

    <!-- <div *ngIf="mobile">
        <div class="box">
            <h2 class="title is-3"> Usuarios en el Canal: </h2>
            <ul>
                <li *ngFor="let user of listOfUsers">
                    User: {{user}}
                    <button *ngIf="(user$ | async).superAdmin || (user$ | async).groupAdmin" (click)="removeUser(user)">
                        Echar usuario
                    </button>
                </li>
            </ul>
        </div>

        <div class="box" *ngIf="(user$ | async).superAdmin || (user$ | async).groupAdmin">
            <div>
                <input class="" type="text" placeholder="username" [(ngModel)]='newUsername' id='newUsername' name='newUsername'>
                <button (click)="addUserToChannel()"> Agregar usuario </button>
            </div>
        </div>
    </div> -->


</section>
