<section id="channel" *ngIf="(user$ | async)?.currentChannel">

<div *ngIf="!mobile">
    <br/> <br/> <br/> <br/> <br/> <br/> <br/>
</div>

<div class="container">
    <div class="notification">

        <h1 class="title is-1"> Canal: {{channelName}} </h1>

        <button (click)="closeChat()"> Cerrar Canal </button>        
        
        <div class="hero-body">
            <div class="notification" *ngIf="messages">
                <div *ngFor="let message of messages.slice().reverse()">
                    <article class="message is-primary">
                        
                        <div class="message-body"
                         *ngIf="message.username!=='SYSTEM' && message.isFile===true">
                            <img src="{{server}}/images/{{message.profileImage}}"
                             width="20px" style="margin-right:10px;" alt="">

                            {{message.timeArg}} {{message.username}}:
                            
                            <img src="{{server}}/images/{{message.message}}" alt="">
                        </div>
                        
                        <div class="message-body"
                         *ngIf="message.username!=='SYSTEM' && message.isFile===false">
                            <img src="{{server}}/images/{{message.profileImage}}" width="20px" style="margin-right:10px;" alt="">

                            {{message.timeArg}} hs - <span style="font-weight:bolder;">{{message.username}}:</span> {{message.message}}
                        </div>

                        <!-- <div class="message-body" *ngIf="message.username==='SYSTEM'">
                            {{message.timeArg}} {{message.username}}: {{message.message}}
                        </div> -->

                    </article>
                </div>
            </div>
        </div>
        

        <div class="box">
            <h2 class="title is-3"> Usuarios en el Canal: </h2>
            <ul>
                <li *ngFor="let user of listOfUsers">
                    User: {{user}}
                    <button (click)="removeUser(user)"
                     *ngIf="(user$ | async).superAdmin || (user$ | async).groupAdmin">
                        Echar usuario
                    </button>
                </li>
            </ul>
        </div>

        <div class="box" *ngIf="(user$ | async).superAdmin || (user$ | async).groupAdmin">
            <div>
                <input class="" type="text" placeholder="username" [(ngModel)]='newUsername' id='newUsername' name='newUsername'>
                <button (click)="addUserToChannel()"> Agregar usuario </button>
            </div>
        </div>

        <br/>
        <br/>
        
    </div>
    
</div>


<div class="hero-foot" style="display:block;">
    <div class="navbar is-fixed-bottom has-background-primary">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
                    <button (click)="sendMessage()"> Mandar </button>
                </div>
                <div class="navbar-item">
                    <!-- <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
                    <button (click)="sendMessage()">Upload image</button> -->
                    <input type="file" class="form-control" (change)="uploadSelected($event)" name="uploadFile" id="uploadFile"/>
                    <button (click)="uploadImageToServer()"> Subir </button>
                </div>
            </div>
        </div>
    </div>
</div>

</section>