
<div *ngIf="(user$ | async)" class="container">

  <div *ngIf="!mobile"> <br/> <br/> </div>
  
  <div class="notification" style="background-color: #1e1e1e; color:#39a6ff;">
  
    <h2 class="subtitle is-3" *ngIf="(user$ | async).superAdmin && (user$ | async).groupAdmin" style="color:#00d1b2;">
      Dashboard de {{(user$ | async).username}}, eres SUPER ADMIN
    </h2>
    <h2 class="subtitle is-3" *ngIf="!(user$ | async).groupAdmin" style="color:#00d1b2;">
      Dashboard de {{(user$ | async).username}}
    </h2>
    <h2 class="subtitle is-3" *ngIf="(user$ | async).groupAdmin && !(user$ | async).superAdmin" style="color:#00d1b2;">
      Dashboard de {{(user$ | async).username}}, eres GROUP ADMIN
    </h2>


    <div class="box" *ngIf="((user$ | async).groupAdmin || (user$ | async).superAdmin)">
      <h2 class="title is-3 center"> GRUPOS </h2>

      <ul *ngIf="(user$ | async).groups && (!(user$ | async).isGroupAdmin && !(user$ | async).isSuperAdmin)">
          <h3> Grupos en los que estás: </h3>
          
          <div class="row" style="display:flex; align-items:center; justify-content:center; margin-top:50px;">
            <div *ngFor="let group of (user$ | async).groups">
              <button class="btn m-1" (click)="viewGroup(group.name)" style="margin-bottom:12px; background-color:#00d1b2; color:white;">
                Entrar al Grupo {{group.name}}
              </button>
            </div>
          </div>

      </ul>
        
      <!-- <h2 *ngIf="isGroupAdmin || isSuperAdmin" class="title is-3"> Admin panel for groups: </h2> -->
      <ul *ngIf="allGroups && ((user$ | async).groupAdmin || (user$ | async).superAdmin)">
        <h3> Todos los grupos: </h3>
        <li *ngFor="let group of allGroups">
          Grupo: {{group}}
          &nbsp;
          <button class="btn btn-danger m-1" (click)="removeGroup(group)"> Eliminar Grupo </button>
        </li>
      </ul> 
    </div>
    
    

    <div class="box" *ngIf="(user$ | async).groupAdmin || (user$ | async).superAdmin">
      <div class="container">
        <form (submit)="createGroup($event)">
          <div class="field has-addons has-addons-centered">
              <label class="label is-large"> Nombre de nuevo Grupo: &nbsp; </label>
              <div class="control">
                <input class="input" type="text" placeholder="Group name" [(ngModel)]='createGroupName' id='createGroupName' name='createGroupName' />
              </div>
              <div class="control">
                <button class="button is-primary"> Crear Grupo </button>
              </div>
          </div>
        </form>
      </div>
    </div>



    <!-- upload -->
    <div class="box">
      <div>
          <img src="{{server}}/images/{{(user$ | async).profileImage}}" width=100px>
      </div>
      <p> Subir nueva imagen de perfil </p>
      <form>
        <div>
          <input class="file-input" type="file" class="form-control" (change)="uploadSelected($event)" name="uploadFile" id="uploadFile" />
        </div>
        <button class="button is-light" (click)="uploadImageToServer()"> Subir </button>
      </form>
    </div>
    
    
      
    
    <div class="content" *ngIf="((user$ | async).groupAdmin || (user$ | async).superAdmin)">
      <div class="box">
          <p> Tu correo registrado: {{(user$ | async).email}} </p>
          <form (submit)="updateEmail($event)">
            <input class="input" type="email" [(ngModel)]='emailField' name='emailField' placeholder="example@email.com" />
            <div class="control">
              <button class="button is-primary"> Cambiar email </button>
            </div>
          </form>
      </div>
    </div>


    <div class="box" *ngIf="((user$ | async).groupAdmin || (user$ | async).superAdmin)">

      <h2 class="title is-3"> Usuarios: </h2>
      <!-- <div class="box">
          <input class="input" type="text" placeholder="username" [(ngModel)]='usernameMakeAdmin' id='usernameMakeAdmin' name='usernameMakeAdmin' />
          <button (click)="userMakeAdminGroup()"> Hacer a un usuario administrador de tema </button>
          <button (click)="userMakeAdminSuper()"> Hacer a un usuario administrador de todo el sitio </button>
      </div> -->
      
      <br/>

      <ul *ngIf="allUsers">
        <li *ngFor="let user of allUsers">
          <div class="box">
            <div class="columns">
              <div class="column">
                  Usuario: {{user.username}} 
              </div>
              <div class="column">
                <button class="button is-success is-small" (click)="makeUserSuperAdmin(user)" *ngIf="!user.superAdmin">
                  Hacer SUPER ADMIN
                </button>
              </div>
              <div class="column">
                <button class="button is-primary is-small" (click)="makeUserGroupAdmin(user)" *ngIf="!user.groupAdmin">
                  Hacer Admin de grupo
                </button>
              </div>
              <div class="column">
                <button class="button is-danger is-small" (click)="removeUserFromSystem(user)">
                  Eliminar usuario del sistema
                </button>
              </div>
            </div>
          </div>              
        </li>
      </ul>

    </div>

  </div>

  
  <br/> <br/>
  <hr/>

</div>
